.<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Editeurs - Édition</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Éditer un editeur</h1>
      <br/><br/>
      <div>
      <form th:action="@{/editeurs/edit}" method="post">
      	<input name="id" type="hidden" th:value="${editeur.id}">
         <table>
            <tr>
				<th> Editeur </th>
            </tr>
            <tr>
               <td> <input type="text" name="editeur" placeholder="Entrez un nom d'editeur..." th:value="${editeur.nom_editeur}"/></td>
            </tr>
         </table>
         <input type="submit" value="Valider"/>
        </form>
      </div>
      <a href="/"> Retour à l'accueil </a>
   </body>
</html>