<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Person List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Liste des editeurs</h1>
      <br/><br/>
      <div>
         <table border="1">
            <tr>
				<th> Éditeur </th>
            </tr>
            <tr th:each ="editeur : ${editeurs}">
               <td th:utext="${editeur.nom_editeur}">...</td>
            </tr>
         </table>
      </div>
   </body>
</html>