<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Genres - Liste</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Liste des genres</h1>
      <br/><br/>
      <div>
         <a th:style="'visibility:'+${visibility}+';'" th:href="add" > Ajouter </a>
         <table>
            <tr>
				<th> Nom </th>
								<th th:style="'visibility:'+${visibility}+';'"> Edition </th>
				<th th:style="'visibility:'+${visibility}+';'"> Suppression </th>
            </tr>
            <tr th:each ="genre : ${genres}">
               <td th:utext="${genre.nom_genre}">...</td>
               <td th:style="'visibility:'+${visibility}+';'"> <a th:href="'edit/'+${genre.id}" > Editer </a> </td>
               <td th:style="'visibility:'+${visibility}+';'"> <a th:href="'delete/'+${genre.id}" > Supprimer </a> </td>
            </tr>
         </table>
      </div>
      <p>
      <a href="/"> Retour à l'accueil </a>
      </p>
   </body>
</html>