<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Person List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Liste des jeux et leurs notes</h1>
      <br/><br/>
      <div>
         <table>
            <tr>
				<th> Nom </th>
				<th> Type </th>
				<th> Genre </th>
				<th> Thème </th>
				<th> Éditeur </th>
				<th> Age min. </th>
				<th> Joueurs minimum conseillé </th>
				<th> Joueurs maximum conseillé </th>
				<th th:style="'visibility:'+${visibility}+';'"> Edition </th>
				<th th:style="'visibility:'+${visibility}+';'"> Suppression </th>
            </tr>
            <tr th:each ="jeu : ${jeux}">
               <td th:utext="${jeu.nom_jeu}">...</td>
				<td th:style="'visibility:'+${visibility}+';'"> <a th:href="'edit/'+${jeu.id}" > Editer </a> </td>
               <td th:style="'visibility:'+${visibility}+';'"> <input type="submit" th:name="'jeuDelete'+${jeu.id}" value="Supprimer"/> </td>
            </tr>
         </table>
      </div>
   </body>
</html>