<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Welcome</h1>
      <h2 th:utext="${message}">..!..</h2>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->
         Menu d'édition
        <ul>
		<li> <a href="@{/jeux/edit}"> Jeux </a> </li>
		<li> <a href="@{/types/edit}"> Types </a> </li>
		<li> <a href="@{/genres/edit}"> Genres </a> </li>
		<li> <a href="@{/themes/edit}"> Thèmes </a> </li>
		<li> <a href="@{/editeurs/edit}"> Editeurs </a> </li>
		</ul>
		
		-- Là on met le formulaire pour submit des filtres --  </br>
		<form action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
			<p>
			Jeux:
			<select>
				<option></option>
				<option>j1</option>
			</select>
			</p>
			<p>
			Types:
			<select>
				<option></option>
				<option>ty1</option>
			</select>
			</p>
			<p>
			Genres:
			<select>
				<option></option>
				<option>g1</option>
			</select>
			</p>
			<p>
			Themes:
			<select>
				<option></option>
				<option>th1</option>
			</select>
			</p>
			<p>
			Editeurs:
			<select>
				<option></option>
				<option>e1</option>
			</select>
			</p>
			<input type="submit" value="Visualiser notes"/>
		</form>
		-- Temporaire: accès aux pages -- <br/>
      <a th:href="@{/jeux}">Jeux List</a>
       
   </body>
    
</html>