<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Welcome</h1>
      <h2 th:utext="${message}">..!..</h2>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->
         Menu d'édition
        <ul>
		<li> <a href="@{/jeux/edit}"> Jeux </a> </li>
		<li> <a href="@{/types/edit}"> Types </a> </li>
		<li> <a href="@{/genres/edit}"> Genres </a> </li>
		<li> <a href="@{/themes/edit}"> Thèmes </a> </li>
		<li> <a href="@{/editeurs/edit}"> Editeurs </a> </li>
		</ul>
		
		-- Là on met le formulaire pour submit des filtres --  </br>
		<form action="#" th:action="@{/jeux}" th:object="${seedStarter}" method="post">
			<p>
			Types:
			<select id="idType" name="type">
				<option></option>
				<option th:each="types : ${types}"  th:value="${types.id}" th:text="${types.nom_type}"> </option>
			</select>
			</p>
			<p>
			Genres:
			<select id="idGenre" name="genre">
				<option></option>
				<option th:each="genres : ${genres}"  th:value="${genres.id}" th:text="${genres.nom_genre}"></option>
			</select>
			</p>
			<p>
			Themes:
			<select id="idTheme" name="theme">
				<option></option>
				<option th:each="themes : ${themes}"  th:value="${themes.id}" th:text="${themes.nom_theme}">th1</option>
			</select>
			</p>
			<p>
			Editeurs:
			<select id="idEditeur" name="editeur">
				<option></option>
				<option th:each="editeurs : ${editeurs}"  th:value="${editeurs.id}" th:text="${editeurs.nom_editeur}"></option>
			</select>
			</p>
			<input type="submit" value="Visualiser notes"/>
		</form>
		-- Temporaire: accès aux pages -- <br/>
      <a th:href="@{/jeux}">Jeux List</a>
       
   </body>
    
</html>