<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
      <h1>Visualisation de notes de jeux de société</h1>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->
      <p>
		<u>Visualisation</u> des pages:
		<table>
		<tr>
		<td> <a th:href="@{/jeux}"> Jeux </a> </td>  
		<td> <a th:href="@{/types}"> Types </a> </td>
		<td> <a th:href="@{/themes}"> Thèmes </a> </td>
		<td> <a th:href="@{/genres}"> Genres </a> </td>
		<td> <a th:href="@{/editeurs}"> Éditeurs </a> </td>
		</tr>
		</table>
      </p>
      
        Menu <u>d'édition</u> de la bibliothèque
        <ul>
		<li> <a th:href="@{/jeux/edit}"> Jeux </a> </li>
		<li> <a th:href="@{/types/edit}"> Types </a> </li>
		<li> <a th:href="@{/genres/edit}"> Genres </a> </li>
		<li> <a th:href="@{/themes/edit}"> Thèmes </a> </li>
		<li> <a th:href="@{/editeurs/edit}"> Editeurs </a> </li>
		</ul>
		
		</br>
		<form action="#" th:action="@{/jeux}" th:object="${seedStarter}" method="post">
			<p>
			Types:
			<select id="idType" name="type">
				<option></option>
				<option th:each="types : ${types}"  th:value="${types.id}" th:text="${types.nom_type}"> </option>
			</select>
			</p>
			<p>
			Genres:
			<select id="idGenre" name="genre">
				<option></option>
				<option th:each="genres : ${genres}"  th:value="${genres.id}" th:text="${genres.nom_genre}"></option>
			</select>
			</p>
			<p>
			Themes:
			<select id="idTheme" name="theme">
				<option></option>
				<option th:each="themes : ${themes}"  th:value="${themes.id}" th:text="${themes.nom_theme}">th1</option>
			</select>
			</p>
			<p>
			Editeurs:
			<select id="idEditeur" name="editeur">
				<option></option>
				<option th:each="editeurs : ${editeurs}"  th:value="${editeurs.id}" th:text="${editeurs.nom_editeur}"></option>
			</select>
			</p>
			<input type="submit" value="Visualiser notes"/>
		</form>       
   </body>
    
</html>